<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:banner="@drawable/banner"
        android:theme="@style/Theme.PickleCal"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".ModeSelectActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".EasyModeActivity"
            android:exported="false"
            android:label="@string/easy_mode_header" />

        <activity
            android:name=".PatternActivity"
            android:exported="false"
            android:theme="@style/Theme.PickleCal.Fullscreen"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".LgControlActivity"
            android:exported="false"
            android:label="@string/lg_control_title" />
    </application>
</manifest>
